<div id="home" class="page-header" data-parallax="true" style="background-image: url('./assets/img/back1.jpg');">
    <!-- <div class="filter"></div> -->
    <div class="container">
        <div class="motto text-center">
            <div class="angular-logo">
                <img src="assets/img/aser-logo.png" alt="">
            </div>
            <h1>Flexible y Sencillo</h1>
            <h3>Tener una cobertura nunca fue tan rápido.</h3>
            <br />
            <button type="button" class="btn btn-round  btn-lg btn-primary">Cotizar</button>
            <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" target="_blank" class="btn btn-round btn btn-outline-default btn-lg btn-primary"><i class="fa fa-play"></i>Mira como</a>
        </div>
    </div>
    <div class="div-wrapper">
    <div class="moving-clouds moving-person" style="background-image: url('assets/img/personmano.svg'); background-repeat: no-repeat; background-size: auto 155px; "></div>
    <div class="moving-clouds moving-person2" style="background-image: url('assets/img/personyellow.svg'); background-repeat: no-repeat; background-size: auto 155px; "></div>
    <div class="moving-clouds moving-person3" style="background-image: url('assets/img/persontablet.svg'); background-repeat: no-repeat; background-size: auto 155px; "></div>
    <div class="moving-clouds moving-car" style="background-image: url('assets/img/car.png'); background-repeat: no-repeat; background-size: 90px 50px; "></div>
    <!-- <div class="moving-clouds moving-person2" style="background-image: url('assets/img/person2.svg'); background-repeat: no-repeat; background-size: 150px 100px; "></div> -->
    </div>

</div>
<div class="main" id="us">
    <div class="section text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-8 mr-auto ml-auto">
                <h2 class="title">Nosotros</h2>
                <h5 class="description">Nuestro motor de excelencia esta comprometido a cambiar la forma es que son vistos los seguros explotando la capacidad de comunicación por medio de vías completamente nuevas y consolidadas para ofrecer Eficacia y Efectividad. Sabemos que necesita, y estamos seguros de superar sus expectativas.</h5>
                <br>
                <a href="#paper-kit" class="btn btn-primary btn-round">See Details</a>
            </div>
        </div>
        <br/><br/>
        <div class="row">
            <div class="col-md-4">
                <div class="info">
                    <div class="icon icon-primary">
                        <i class="fa fa-pencil"></i>
                    </div>
                    <div class="description">
                        <h4 class="info-title">Misión</h4>
                        <p class="description">Nuestro motor de excelencia esta comprometido a cambiar la forma es que son vistos los seguros explotando la capacidad de comunicación por medio de vías completamente nuevas y consolidadas para ofrecer Eficacia y Efectividad. Sabemos que necesita, y estamos seguros de superar sus expectativas.</p>
                        <!-- <a href="#pkp" class="btn btn-link btn-primary">See more</a> -->
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="info">
                    <div class="icon icon-primary">
                        <i class="fa fa-rocket"></i>
                    </div>
                    <div class="description">
                        <h4 class="info-title">Visión</h4>
                        <p class="description">Demostrarle al cliente la mejor cara de la aseguradora, y a la aseguradora la mejor cara del cliente. Por ellos nuestro enfoque principal es la capacidad de respuesta, soluciones y alternativas adaptadas al cliente, nuestra experiencia en el área y el constante aprendizaje nos permite proporcionarle estrategias comerciales adaptadas a la economía fluctuante de la actualidad.</p>
                        <!-- <a href="#pkp" class="btn btn-link btn-primary">See more</a> -->
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="info">
                    <div class="icon icon-primary">
                        <i class="fa fa-users"></i>
                    </div>
                    <div class="description">
                        <h4 class="info-title">Valores</h4>
                        <p>Nuestro Equipo de trabajo se ha destacado por 7 características que son credo de nuestras sucursales: -Emprendimiento -Innovación -Servicio -Compromiso -Ánimo -Trabajo en equipo -Ética</p>
                        <!-- <a href="#pkp" class="btn btn-link btn-primary">See more</a> -->
                    </div>
                </div>
            </div>
            <!-- <div class="col-md-3">
                <div class="info">
                    <div class="icon icon-primary">
                        <i class="nc-icon nc-sun-fog-29"></i>
                    </div>
                    <div class="description">
                        <h4 class="info-title">Delightful design</h4>
                        <p>Find unique and handmade delightful designs related items directly from our sellers.</p>
                        <a href="#pkp" class="btn btn-link btn-primary">See more</a>
                    </div>
                </div>
            </div> -->
        </div>

    </div>
</div>

<div class="section section-dark text-center">
    <div class="container">
        <h2 class="title">Let's talk about us</h2>
        <div class="row">
            <div class="col-md-4">
                <div class="card card-profile card-plain">
                    <div class="card-avatar">
                        <a href="#avatar"><img src="./assets/img/faces/clem-onojeghuo-3.jpg" alt="..."></a>
                    </div>
                    <div class="card-block">
                        <a href="#paper-kit">
                            <div class="author">
                                <h4 class="card-title">Henry Ford</h4>
                                <h6 class="card-category">Product Manager</h6>
                            </div>
                        </a>
                        <p class="card-description text-center">
                        Teamwork is so important that it is virtually impossible for you to reach the heights of your capabilities or make the money that you want without becoming very good at it.
                        </p>
                    </div>
                    <div class="card-footer text-center">
                        <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-twitter"></i></a>
                        <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-google-plus"></i></a>
                        <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-linkedin"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card card-profile card-plain">
                    <div class="card-avatar">
                        <a href="#avatar"><img src="./assets/img/faces/joe-gardner-2.jpg" alt="..."></a>
                    </div>
                    <div class="card-block">
                        <a href="#paper-kit">
                            <div class="author">
                                <h4 class="card-title">Sophie West</h4>
                                <h6 class="card-category">Designer</h6>
                            </div>
                        </a>
                        <p class="card-description text-center">
                        A group becomes a team when each member is sure enough of himself and his contribution to praise the skill of the others. No one can whistle a symphony. It takes an orchestra to play it.
                        </p>
                    </div>
                    <div class="card-footer text-center">
                        <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-twitter"></i></a>
                        <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-google-plus"></i></a>
                        <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-linkedin"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card card-profile card-plain">
                    <div class="card-avatar">
                        <a href="#avatar"><img src="./assets/img/faces/erik-lucatero-2.jpg" alt="..."></a>
                    </div>
                    <div class="card-block">
                        <a href="#paper-kit">
                            <div class="author">
                                <h4 class="card-title">Robert Orben</h4>
                                <h6 class="card-category">Developer</h6>
                            </div>
                        </a>
                        <p class="card-description text-center">
                        The strength of the team is each individual member. The strength of each member is the team. If you can laugh together, you can work together, silence isn’t golden, it’s deadly.
                        </p>
                    </div>
                    <div class="card-footer text-center">
                        <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-twitter"></i></a>
                        <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-google-plus"></i></a>
                        <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-linkedin"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

    <div class="section landing-section" id="contact-us">
        <div class="container">
            <div class="row">
                <div class="col-md-8 mr-auto ml-auto">
                    <h2 class="text-center">¿Estamos en contacto?</h2>
                    <form class="contact-form">
                        <div class="row">
                            <div class="col-md-6">
                                <label>Nombre</label>
                                <div class="input-group" [ngClass]="{'input-group-focus':focus===true}">
                                    <div class="input-group-prepend">
                                      <span class="input-group-text"><i class="nc-icon nc-single-02"></i></span>
                                    </div>
                                    <input type="text" class="form-control" placeholder="Nombre" (focus)="focus=true" (blur)="focus=false" >
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label>Email</label>
                                <div class="input-group" [ngClass]="{'input-group-focus':focus1===true}">
                                    <div class="input-group-prepend">
                                      <span class="input-group-text">  <i class="nc-icon nc-email-85"></i></span>
                                    </div>
                                    <input type="text" class="form-control" placeholder="Email" (focus)="focus1=true" (blur)="focus1=false" >
                                </div>
                            </div>
                        </div>
                        <label>Mensaje</label>
                        <textarea class="form-control" rows="4" placeholder="Cuéntanos tus inquietudes..."></textarea>
                        <div class="row">
                            <div class="col-md-4 mr-auto ml-auto">
                                <button class="btn btn-primary btn-lg btn-fill">Enviar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>